body {
  text-align: center;
  background-image: url("img/witewall_3.png");
  font-family: Helvetica, sans-serif; }

#controls {
  margin: 1em auto;
  width: 30em; }
  #controls button {
    font-size: 1.4em; }

#smiley {
  margin-top: 1em; }

#tiles {
  margin: auto;
  overflow: auto; }

.tile {
  min-width: 28px;
  min-height: 28px;
  width: 28px;
  height: 28px;
  background-color: gray;
  display: inline-block;
  border: 1px solid black;
  padding: auto; }

.tile.clicked {
  background-color: silver; }
